@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #212121;
  width: 100%;
  padding: 2.5vmin 10vw;
  padding-top: 4.25vmin;
  top: 0;
  z-index: 10;
}

header .logo {
  max-width: 20vmin;
}

header .desktopNav, header .mobileNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 40vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .desktopNav a, header .mobileNav a {
  font-size: 2.1rem;
  margin: 0 1.1rem;
  margin-top: 1.1rem;
  line-height: 0;
  text-decoration: none;
  color: #fcfcfc;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

header .desktopNav a:active, header .mobileNav a:active {
  color: #00e0bb;
}

header .desktopNav a:after, header .mobileNav a:after {
  display: inline-block;
  opacity: 0;
  content: " ";
  height: 2px;
  width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #00e0bb;
}

header .desktopNav a:hover::After, header .mobileNav a:hover::After {
  opacity: 1;
}

header .openNavBtn, header .closeNavBtn {
  display: none;
}

header .mobileNav {
  display: none;
}

@media (max-width: 480px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5vh 5vw;
  }
  header .logo {
    margin-right: 7.5vw;
  }
  header .desktopNav {
    display: none;
  }
  header .mobileNav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logoBtn {
    display: none;
  }
  header .openNavBtn, header .closeNavBtn {
    top: 2.5vh;
    left: 10vw;
    color: #fcfcfc;
    font-size: 1.2rem;
    width: 9.375vmax;
    height: 9.375vmax;
    border-radius: 100%;
    background: none;
    border: 0;
    -webkit-box-shadow: 1px 2px 12px rgba(33, 33, 33, 0.5);
            box-shadow: 1px 2px 12px rgba(33, 33, 33, 0.5);
  }
  header .openNavBtn span, header .closeNavBtn span {
    display: block;
    margin: 10% auto;
    width: 3.75vmax;
    height: 0.375vmax;
    border-radius: 0.5vmax;
    background: #fcfcfc;
  }
  header .openNavBtn {
    display: block;
  }
  header .closeNavBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .closeNavBtn div span {
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .closeNavBtn div span:nth-of-type(2n) {
    background: #fcfcfc;
    -webkit-transform: translateY(-0.25vmax) rotate(135deg);
            transform: translateY(-0.25vmax) rotate(135deg);
  }
  header .mobileNav {
    display: none;
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #212121;
    top: 12.5vh;
    left: 5vw;
    border: 1px solid red;
  }
  header .mobileNav a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2.1rem 2.5vw;
  }
}
/*# sourceMappingURL=headerStyles.css.map */