@import "./variables";

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    // border: 1px solid red;
}
.productCard {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: flex-start;
    padding: 1.5rem;
    margin-bottom: 4.25vh;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    background-color: #fff;
    // border-radius: 2.5rem; 
    max-width: 25vw;
    // border: 1px solid blue; //debug
}
.productCard:nth-of-type(1n) {margin-right: 2.5vw}
.productImg {
    margin: 1.1rem 0;
}
.productPrice {
    font-family: $head;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: .5em;
    // border: 1px solid red; //debug
}
.productName {
    font-size: 2.7rem;
    margin: 1.1rem 0;
    line-height: 1;
    max-width: 20vw;
    // margin: 1.1rem 0;
}
.disabledBuyBtn, .buyBtn {
    font-family: $head;
    // text-transform: uppercase;     
    font-weight: 600;
    font-size: 2.1rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    color: #fcfcfc;
    text-shadow: 1px 1px 1px rgba(0,0,0,.325);
    border: none;
    background: none;
    border-radius: 6px;
    transition: .2s ease-in;
    widtH: 100%;
}
.buyBtn {background: $primary-clr;}
.buyBtn:hover {background: lighten($primary-clr, 5%)}
.disabledBuyBtn {background: #535353; cursor: not-allowed;}

.LazyLoad {min-width: 20vw; min-height: 10vw;}
.productImg {
    min-width: 20vw;
    min-height: 20vw;
    max-width: 20vw;
    max-height: 20vw;
    margin-bottom: 1.1rem;
    object-fit: cover;
    object-position: center;
}
@media(max-width: $tablet-bp) {
    .productsContainer {
       
    }
    .productCard {
        max-width: 40vw;
    }
    .productCard:nth-of-type(1n) {margin-right: 0} // cancel desktop margins
    .productCard:nth-of-type(2n) {margin-left: 5vw} // cancel desktop margins
    .productImg {
        min-width: 32.5vw;
        max-width: 32.5vw;
        min-height: 32.5vw;
        max-height: 32.5vw;
    }
    .productName {max-width: 32.5vw;}

}
@media(max-width: $mobile-bp) {
    .productCard {
        min-width: 100%;
        max-width: 100%;
        align-items: center;
    }
    .productCard:nth-of-type(2n) {margin-left: 0} // cancel tablet margins
    .LazyLoad {min-width: 80vw; min-height: 50vw;}
    select {min-width: 30vw}
    .productImg {
        min-width: 80vw;
        max-width: 80vw;
        min-height: 80vw;
        max-width: 80vw;
        // margin: 0 auto;
    }
    .productName {max-width: 80vw;}
}


